body {
	background: LightBlue;
}

table, th, td {
	width: 30%;
	border: 1px solid black;
}

th {
	background: purple;
}

.formSection {
	max-width: 500px;
	border: 1px solid black;
	background: LightGreen;
	padding-left: 5px;
	padding-bottom: 5px;
}